---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
  href={href}
class={
  [
    'inline-block',
    className?.replace(/\btext-\S+/g, ''), // remove existing text color classes
    isActive ? 'font-bold text-accent' : 'text-text',
  ].filter(Boolean).join(' ')
}
  {...props}
>
  <slot />
</a>
